@{
    var user = @Context.Session.GetString("user");
    var roleId = Context.Session.GetString("role");
    var userId = Context.Session.GetString("userId");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NMS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/font-awesome/css/all.min.css"/>
</head>
<body>
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NMS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @if(user == "Admin FU")
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Home">Home</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="NewsArticles" asp-action="Index">News Article</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto align-items-center">
                        <li class="nav-item">
                            @if (user == null)
                            {
                                <button type="button"
                                        class="btn btn-primary me-3"
                                        onclick="window.location.href='@Url.Action("Login", "Home")'">
                                    <i class="bi bi-box-arrow-in-right me-1"></i> Login
                                </button>
                            }
                            else
                            {
                                <div class="d-flex align-items-center me-3">
                                    @if(roleId == "1")
                                    {
                                        <div>
                                            <button onclick="goToSetting(@userId)" class="btn btn-dark"><i class="fa-solid fa-bars"></i></button>
                                        </div>
                                    }
                                    <i class="bi bi-person-circle fs-4 me-2 text-primary"></i>
                                    <span class="fw-bold text-dark">@user</span>
                                </div>
                            }
                        </li>

                        @if (user != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-danger px-3"
                                   asp-area="" asp-controller="Home" asp-action="Logout">
                                    <i class="bi bi-box-arrow-right me-1"></i> Log out
                                </a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   @*  <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - NMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function goToSetting(userId) {
            window.location.href = `/SystemAccounts/Edit/${userId}`;
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
